{% extends 'homepage/home.html' %}
{% load staticfiles %}
{% block body_block %}



<div class="container">
  <div class="jumbotron">
    <h1>About Us</h1>
<p></p>
  <p>Ever wished that there were an escape button on the keyboard of life? Well, since there isn’t , we are there for you. The universal truth is that every person in this universe needs a break at some point - A break from the mundane routines, surroundings, work and one’s entire surroundings. And what better break could be there than a well-planned HOLIDAY! A Holiday that would truly rejuvenate and refresh you.

Our aim is not merely to render a holiday tour, but also provide a bouquet of services weaved to perfection according to your needs. We believe that bringing people and places together is a noble affair. Moments which people spend with their loved ones are truly magical and blessed, and holidays are both an excuse and an opportunity to get this blessing. And so we strive to gift you a holistic experience enriched with refreshing, relaxing and rejuvenating moments that you would cherish for eternity.

Nature is inimitable - it is beyond our match! However, we certainly endeavour to take you close to nature where every destination is like an unread poetry and the pleasure lies in reading it! We not only present such infinite books, but also guide you in the right way to decipher them.</p>
</div>
</div>

{% endblock %}